.resume-data {
    list-style-type: none;
    line-height: 3;
    color: rgb(193, 193, 193);
    font-size: 14px;
}

.short-list {
    padding-top: 40px;
}

#LANGUAGES, 
#VALUE, 
#EXPERIENCE, 
#LEADERSHIP {
    padding-left: 15px;
}

.short {
    columns: 2;
}

#LANGUAGES {
    line-height: 3;
}

#VALUE {
    line-height: 3;
}
