.populate-here {
    margin-bottom: 40px;
}

.resume-data {
    list-style-type: none;
    line-height: 3;
    color: rgb(193, 193, 193);
    font-size: 14px;
}

.short-list {
    padding-top: 40px;
}

.short, 
.long-list {
    margin-left: 15px;
}

#LANGUAGES, 
#VALUE, 
#EXPERIENCE, 
#LEADERSHIP {
    padding-left: 15px;
}

.short {
    columns: 2;
}

#LANGUAGES {
    line-height: 3;
}

#VALUE {
    line-height: 3;
}



/* media queries */
@media screen and (max-width: 1024px) {
    .short, 
    .long-list {
        margin-left: 65px;
    }
    

}

@media screen and (max-width: 991px) {

    .short, 
    .long-list {
        margin-left: 65px;
    }
}




@media screen and (max-width: 375px) {

    .short {
        columns: 1;
    }

    .short-list {
        padding-top: 0;
    }
}


