.col-sm-6
.row  {
    height: 50%;
} 

.smaller {
    width: 60%;
}

.reach-out {
    height: fit-content;
    margin: 60px 0 0;
    text-align: center;
    color: rgb(151, 148, 148);
}

.contact-icon {
    background-color: rgb(193, 193, 193);
    border-radius: 1.45rem;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 40px;
    width: 256px;
    height: auto;
}

.social {
    margin-top: 110px;
}

.linkedin, 
.download {
    margin-bottom: 80px;
}

#download-icon {
    margin-top: -80px;
}
