.header {
    color: rgb(193, 193, 193);
    text-align: center;
    margin-top: 1.5rem;
}
.profile-pic {
    height: auto;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 50%
}

.about-me-text {
    color: whitesmoke;
    margin: 1.5rem auto 5rem;
    text-align: center;
}