#port-cont {
    margin: 50px auto;
    text-align: center;
}

#instructions {
    color: rgb(151, 148, 148);   
    text-align: center; 
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.portfolio-image {
    width: 650px;
    height: auto;
    filter: grayscale(100%);
}

.portfolio-image:hover {
    filter: none;
}

.repo-link {
    color: rgb(151, 148, 148);    
    font-weight: 200;
    letter-spacing: 0.12rem;
}

.repo-link:hover {
    color: whitesmoke;
    text-decoration: none;
}

.project-title {
    color: whitesmoke;
    margin: 4rem 0 1rem 0;
    font-size: 14px;

}

.description {
    color: rgb(151, 148, 148); 
    margin-top: 1rem;
    font-size: 14px;
}


